<section class="padded-sides grid flex-flip">
    <div class="col-4_sm-6_xs-12-middle">
        <a class="padded"href="{{item.link}}">
          <div class=" hover-container" style="background-image:url('{{item.link_image}}')">
            <div class="hover-overlay">
            </div>
          </div>
          <div class="bump bg-brown">
            <h3 class="padded-00 border-top border-bottom"> {{item.link-title}} </h3>
          </div>
        </a>
    </div>
    <div class="col-8_sm-6_xs-12-middle padded brown-text">
      <p class=" brown-text centered"> {{item.link-description}}</p>
    </div>
</section>
